*{
    margin: 0;
    padding: 0;
    background-color: rgb(47, 37, 37);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    padding: 0.9rem 1.5rem;
    border-radius: 10px;
    margin: 0.5rem;
    color: white;
    box-shadow: 0 0 10px;
    transition: color 0.2s ease,transform 0.2s ease;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
}
button:hover{
    color: rgb(128, 45, 23);
    /* padding: 1rem 1.9rem; */
    transform: scale(1.1);
}
.contaner{
    display: flex;
    flex-direction: column;
    width:25rem;
    height: 30rem;
    justify-content: space-evenly;
    justify-self: center;
    margin-top: 5rem;
    background-color: white;
    justify-items: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(136, 102, 102, 0.1);
}
.child{
    display: flex;
    width: 80%;
    
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0);
}
/* .p{
    padding: 0.5rem 1.5t;
} */
input{
    padding: 0.6rem 1.5rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    font-weight: 700;
    cursor:not-allowed;
    font-size: 1.3rem;
    color: white;
}
.operator, .colo{
    color: rgb(106, 61, 79);
}